body {
  background-color: antiquewhite;
}
#tarolo {
  background-color: rgb(43, 55, 226);
  color: antiquewhite;
  width: 80%;
  max-width: 800px;
  margin: auto;
  padding: 10px;
}
#menu a {
  text-decoration: none;
  color: greenyellow;
  background-color: #66bf39;
  border: 2px solid greenyellow;
  padding: 5px 10px 5px 10px;
  margin: 10px;
  border-radius: 5px;
}
#menu a:hover {
  color: rgba(4, 0, 86, 0.795);
  background-color: #b5e3d6;
}

#lablec {
  color: black;
}
#iskolakep {
  width: 500px;
}
